<div class="gutter fill-height-minus-gutter">
	<div class="row fill-height">
		<div class="col-md-2">

		</div>

		<div class="col-md-8">
			<div ng-hide="hideInfo()"> Click on contacts to setup call</div>
			<div ng-repeat="call in call.list">
				<div class="">
					{{getFriendFromId(call.id).FN}}
					<span class="tab">
						<input type="checkbox" class="tab"/>Audio
					</span>
					<span class="tab">
						<input type="checkbox" class="tab"/>Video
					</span>
					<span ng-show="call.calling" class="tab">
						<button class="btn btn-info" ng-click="callTo(call.id)">Call</button>
					</span>
					<span ng-hide="call.calling" class="tab">
						<button class="btn btn-info" ng-click="acceptCall(call.id)">Accept</button>
						<button class="btn btn-info" ng-click="denyCall(call.id)">Deny</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
