<div class="gutter fill-height-minus-gutter">
	<div class="row fill-height">
		<div class="col-md-2">

		</div>

		<div class="col-md-8">
			<div ng-hide="hideInfo()"> Click on contacts to setup call</div>
			<audio src="resource/telephone.wav" ng-audio ng-bind="playAudio(receivingCall())"></audio>
			<div ng-repeat="call in call.list">
				<div ng-hide="call.hidden">
					{{getFriendFromId(call.id).FN}}
					<span class="tab">
						<input type="checkbox" ng-model="call.audio" class="tab"/>Audio
					</span>
					<span class="tab">
						<input type="checkbox" ng-model="call.video" class="tab"/>Video
					</span>
					<span ng-show="call.calling" class="tab">
						<button class="btn btn-info" ng-hide="calling(call.id)" ng-click="callTo(call.id)">Call</button>
						<button class="btn btn-info" ng-show="calling(call.id)" ng-click="cancelCall(call.id)">Cancel</button>
					</span>
					<span ng-hide="call.calling" class="tab">
						<button class="btn btn-info" ng-click="acceptCall(call.id)">Accept</button>
						<button class="btn btn-info" ng-click="denyCall(call.id)">Deny</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
