<div class="row color-grey gutter fill-height-minus-gutter fill-height auto-overflow">
	<div class="col-md-2">

	</div>
	<div class="col-md-8">
		<input type="file" ba-file-selector multiple files="file.selectedFiles"/>
		<div ng-hide="hideInfo()">
			Click on contacts to send your files
		</div>
		<div ng-repeat="f in file.list">
			<div>{{f.sending && "Sending " + f.filename + " to " || "Receiving " + f.filename + " from "}} {{getFriendFromId(f.user).name}}<span class="tab">{{bytesToSize(f.size)}}</span>{{f.failed && " - Failed"}}</div>
			<div class="progress">
				<div class="progress-bar" ng-class="{'progress-bar-danger': f.failed}" ba-progress-bar progress="f.progress">
				</div>
			</div>
		</div>
		<div ng-repeat="log in file.log">
			{{log.failed && failed || log.filename + (log.sent && ' was sent to ' || ' was downloaded from ') + getFriendFromId(log.user).name}}
		</div>
	</div>
</div>
