<div class="row color-grey fill-height border-left default-cursor hide-overflow">
	<div class="col-md-12 fill-height">
		<div class="fill-top">
			<div class="row border-bottom name-tag"> 
				<div class="col-md-12 fill-height">
					<h3 class="uninett-fontColor-white name-tag align-center">{{user.info.name}}</h3>
				</div>
			</div>
			<div class="fill-under-name-tag">
				<div ng-repeat="bestFriendId in friends.bestFriends">
					<div class="row hover-white">
						<div class="col-md-12 visible-on-hover" ng-hide="friend.me" ng-init="friend = getFriendFromId(bestFriendId)">
							<div class="width-95" ng-click="clickOnFriend(friend)">
								<i class="fa fa-circle icon presence-icon" ng-class="{'online': friend.online || friend.mucOnline, 'offline': !(friend.online || friend.mucOnline)}"></i>
								<span class="tab">{{friend.FN}}</span>
							</div>
							<div class="visible-span width-3 pointer" ng-click="removeBestFriend(friend)"><i class="fa fa-times"></i></div>
						</div>
					</div>
				</div>
				<div class="row" ng-class="{'border-top': friends.bestFriends.length}">
					<div class="col-md-12">
						<div ng-repeat="group in groups.list">
							<div class="row hover-white" ng-click="showMembers = !showMembers" ng-init="showMembers = 1">
								<div class="col-md-12">
									{{group.displayName}}
								</div>
							</div>
							<div ng-show="showMembers" ng-repeat="friend in group.friends" class="row hover-white">
								<div class="col-md-12 visible-on-hover" ng-hide="friend.me">
									<div ng-click="clickOnFriend(friend)" class="width-95">
										<i class="fa fa-circle icon presence-icon" ng-class="{'online': friend.online || friend.mucOnline, 'offline': !(friend.online || friend.mucOnline)}"></i>
										<span class="tab">{{friend.FN}}</span>
									</div>
									<div class="width-3 align-center pointer visible-span" ng-click="addBestFriend(friend)"><i class="fa fa-plus"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fill-bottom align-center fill-width">
		<i ng-hide="showFriendField" ng-click="showFriendField = true" class="fa fa-plus-circle fa-inverse fa-2x"></i>
		<input ng-show="showFriendField" type="text" class="fill-width" ng-model="friendFieldValue" ng-keydown="friendFieldKeyDown($event)">
	</div>
</div>
</div>
