<div class="row color-grey fill-height border-left scroll-y default-cursor">
	
	<!-- Context menu -->
	<div class="dropdown" id="contextMenu" style="position: fixed; z-index: 100;">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
			<li><a class="pointer ng-binding" role="menuitem" tabindex="1">Call</a></li>
			<li><a class="pointer ng-binding" role="menuitem" tabindex="2">Chat</a></li>
			<li><a class="pointer ng-binding" role="menuitem" tabindex="2">Send file</a></li>
		</ul>
	</div>
	
	<div class="col-md-12 fill-height">
		<div ng-hide="showSearch" class="fill-height" ng-init="showSearch = false">

			<div class="fill-top">
				<div class="row border-bottom name-tag"> 
					<div class="col-md-12 fill-height hide-overflow">
						<h3 class="uninett-fontColor-black name-tag align-center">{{user.info.name}}</h3>
					</div>
				</div>
				<div class="fill-under-name-tag uninett-group">
                                        <span class="uninett-group-heading">
                                            <span class="uninett-group-name">My friends</span>
                                        </span>
					<div ng-repeat="bestFriendId in friends.bestFriends" class="row hover-white">
						<div ng-class="{ 'expanded': true, 'highlight': true }" context-menu data-target="contextMenu" ng-click="clickOnFriend(friend)" class="col-md-12 visible-on-hover" ng-init="friend = getFriendFromId(bestFriendId)">
							<i class="fa fa-circle icon presence-icon" ng-class="{'online': friend.online || friend.mucOnline, 'offline': !(friend.online || friend.mucOnline)}"></i>
							<span class="tab">{{friend.FN}}</span>
							<span class="right visible-span pointer" ><i class="fa fa-times" ba-click ng-click="removeBestFriend(friend)"></i></span>
						</div>
					</div>
					<div ng-repeat="tempFriend in user.info.tempFriends" class="row hover-white">
						<div ng-click="clickOnFriend(friend)" class="col-md-12 visible-on-hover" ng-hide="tempFriendExists(tempFriend)">
							<i class="fa fa-circle icon presence-icon offline"></i>
							<span class="tab">{{tempFriend.name}}</span>
							<span class="right visible-span pointer" ><i class="fa fa-times" ba-click ng-click="removeTempFriend(tempFriend)"></i></span>
						</div>
					</div>
					<div class="row" ng-class="{'border-top': friends.bestFriends.length}">
						<div class="col-md-12">
							<div class="uninett-group" ng-repeat="group in groups.list">
								<div class="uninett-group-heading row hover-white" ng-click="showMembers = !showMembers" ng-init="showMembers = 1">
									<div class="col-md-12">
                                                                                <span class="btn btn-sm pull-right glyphicon" ng-class="showMembers ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
                                                                                <span class="uninett-group-name">{{group.displayName}}</span> <span class="uninett-group-membercount" ng-show="!showMembers">({{groupMembersCount(group.friends)}})</span>
									</div>
								</div>
								<div ng-show="showMembers" ng-repeat="friend in group.friends" class="row hover-white">
									<div ng-hide="isMe(friend.id)" ng-click="clickOnFriend(friend)" class="col-md-12 visible-on-hover">
										<div class="width-95">
											<i class="fa fa-circle icon presence-icon" ng-class="{'online': friend.online || friend.mucOnline, 'offline': !(friend.online || friend.mucOnline)}"></i>
											<span class="tab">{{friend.FN}}</span>
										</div>
										<span class="right visible-span pointer" ><i class="fa fa-plus" ba-click ng-click="addBestFriend(friend)"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fill-bottom align-center fill-width">
				<i ng-click="showSearch = true" class="pointer fa fa-search fa-inverse fa-2x"></i>
			</div>

		</div>

		<div ng-show="showSearch" class="fill-height-minus-gutter gutter">
			<div class="row scroll-y fill-top">
				<div class="col-md-12 small-font">
					<div ng-repeat="person in search.list" ng-mouseenter="showHidden = true" ng-mouseleave="showHidden = false" ng-init="showHidden = false" class="row hover-white">
						<div ng-show="showHidden && person.hasImage()" class="col-md-4 inline-block">
							<img class="small-image" ng-src="{{person.getImage()}}">
						</div>
						<div ng-class="{'col-md-8': showHidden && person.hasImage(), 'col-md-12': !(showHidden && person.hasImage()), 'small-image': showHidden}" class="vertical-align inline-block no-wrap">
							<div class="">{{person.name}}</div>
							<span ng-show="showHidden">
								{{person.userid}}
								<br>
								{{person.mail}}
								<br>
								<div class="align-center">
									<i ng-click="addBestFriendUWAP(person)" class="pointer fa fa-plus fa-inverse fa-2x"></i>
								</div>
							</span>
						</div>

					</div>
				</div>
			</div>
			<div class="fill-bottom">
				<div style="width:calc(100% - 34px);" class="inline-block">
					<input type="text" class="fill-width" ng-model="search.query">
				</div>
				<div class="right">
					<i ng-click="showSearch = false" class="pointer fa fa-times-circle fa-inverse fa-2x"></i>
				</div>
			</div>
		</div>

	</div>
</div>
