*.sw*
*~
node_modules/
users/
bower_components/
start.command
.DS_store
fonts.zip
server/basic_server.js
report/
server/auth/server.crt
server/auth/server.key
server/auth/secret.js
server/*.txt
/nbproject
