*.sw*
*~
node_modules/
users/
bower_components/
secret.js
start.command
.DS_store
client/index.html
fonts.zip
server/basic_server.js
report/
server/auth/server.crt
server/auth/server.key
server/*.txt
/nbproject