html, body {
	height: 100%;
}

body {
	padding-top: 0px;
}

.ui-view-container {
  position: relative;
}

.animate-view[ui-view].ng-enter {
 -webkit-transition: 0.2s linear all; /* Safari/Chrome */
 -webkit-transform:scale(0.7, 0.7);
 opacity: 0;
}

.animate-view[ui-view].ng-enter-active {
 -webkit-transform:scale(1, 1);
 /* The animation code itself */
 opacity: 1;
}

.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}

.no-margin {
	margin: 0px;
}

.fill-height-minus-navbar {
	height: calc(100% - 70px);
}
.fill-height {
	height: 100%;
}
.fill-height-minus-gutter {
	height: calc(100% - 20px);
}

.uninett-color-grey {
	background-color: #eeebe8;
}

.uninett-color-white {
	background-color: #fff;
}

.uninett-color-black {
	background-color: #231f20;
}

.border-left {
	border-left-style: solid;
	border-left-color: #fff;
}
.border-right {
	border-right-style: solid;
	border-right-color: #fff;
}

.border-top {
	border-top-style: solid;
	border-top-color: #fff;
}

.border-bottom {
	border-bottom-style: solid;
	border-bottom-color: #fff;
}

.hover-white:hover {
	background-color: #fff;
}

.bottom {
	position: absolute;
	bottom: 0px;
}

.hide-overflow {
	overflow: hidden;
}

.auto-overflow {
	overflow: auto;
}

.fill-width {
	width: 100%;
}

.fill-top {
	height: calc(100% - 40px);
}

.fill-bottom {
	height: 30px;
}

.fill-height-gutter {

}

.icon {
	vertical-align: middle;
}

.icon.large {
	font-size: 2em;
}

.chat-history {

}

.chat-entry-active {
	background-color: #fff;
}

.chat-entry {
}

.icon:hover {
}

.presence-icon {
	font-size: 0.6em;
	vertical-align: middle;
}


.presence-icon.online {
	color: #4cc0be;
	color: #00b086;
	color: #006b49;
}
.presence-icon.offline {
	color: #eb212e;
}
