html, body {
	height: 100%;
}

body {
	padding-top: 0px;
}

.ui-view-container {
  position: relative;
}

.animate-view[ui-view].ng-enter {
 -webkit-transition: 0.2s linear all;
 -webkit-transform:scale(0.7, 0.7);
 opacity: 0;
}

.animate-view[ui-view].ng-enter-active {
 -webkit-transform:scale(1, 1);
 opacity: 1;
}

.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.tab {
	margin-left: 10px;
}
.right {
	position: absolute;
	right: 15px;
}

.no-margin {
	margin: 0px;
}

.fill-height-minus-navbar {
	height: calc(100% - 70px);
}
.fill-height {
	height: 100%;
}
.fill-height-minus-gutter {
	height: calc(100% - 20px);
}
.fill-half {
	height: 50%;
}

.uninett-color-grey {
	background-color: #eeebe8;
}

.uninett-color-white {
	background-color: #fff;
}

.uninett-color-black {
	background-color: #231f20;
}

.border-left {
	border-left-style: solid;
	border-left-color: #fff;
}
.border-right {
	border-right-style: solid;
	border-right-color: #fff;
}

.border-top {
	border-top-style: solid;
	border-top-color: #fff;
}

.border-bottom {
	border-bottom-style: solid;
	border-bottom-color: #fff;
}

.hover-white:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.default-cursor {
	cursor: default;
}

.bottom {
	position: absolute;
	bottom: 0px;
}

.hide-overflow {
	overflow: hidden;
}

.auto-overflow {
	overflow: auto;
}

.fill-under-name-tag {
	height: calc(100% - 60px);
}

.name-tag {
	height: 60px;
	line-height: 60px;
}

.red {
	background-color: red;
}

.fill-width {
	width: 100%;
}

.fill-top {
	height: calc(100% - 40px);
}

.fill-bottom {
	height: 30px;
}

.fill-height-gutter {

}

.small-video {
	position: absolute;
	left: 10px;
	bottom: 10px;
	height: 200px;
}

.video-menu {
	position:absolute;
	right:10px;
	top:10px;
	margin:auto;
}

.width-95 {
	display: inline-block;
	width: calc(100% - 4px - 20px);
}
.width-3 {
	display: inline-block;
	width: 20px;
}

.pointer {
	cursor: pointer;
}

.icon {
	vertical-align: middle;
}

.icon.large {
	font-size: 2em;
}

.chat-entry.active {
	background-color: #fff;
}

.chat-entry {
	height:50px;
	line-height:50px;
}

.visible-on-hover .visible-span {
	visibility: hidden;
}

.visible-on-hover:hover .visible-span {
	visibility: visible;
}

.icon:hover {
}

.vertical-align {
	vertical-align: middle;
}

.presence-icon {
	font-size: 0.6em;
	vertical-align: middle;
}

.presence-icon.online {
	color: #4cc0be;
	color: #00b086;
	color: #006b49;
}
.presence-icon.offline {
	color: #eb212e;
}

.badge {
	margin-left: 5px;
}
