<div>
	<ul class="nav nav-tabs" ng-init="selectedTab = 'webrtc'">
		<li ng-class="{active: selectedTab === 'userInfo'}">
			<a href ng-click="selectedTab = 'userInfo'">Info</a>
		</li>

		<li ng-class="{active: selectedTab === 'groups'}">
			<a href ng-click="selectedTab = 'groups'">Groups</a>
		</li>
		
		<li ng-class="{active: selectedTab === 'realms'}">
			<a href ng-click="selectedTab = 'realms'">Realms</a>
		</li>

		<li ng-class="{active: selectedTab === 'chat'}">
			<a href ng-click="selectedTab = 'chat'">Chat</a>
		</li>

		<li ng-class="{active: selectedTab === 'search'}">
			<a href ng-click="selectedTab = 'search'">Search</a>
		</li>

		<li ng-class="{active: selectedTab === 'webrtc'}">
			<a href ng-click="clickTab('webrtc')">WebRTC</a>
		</li>

	</ul>

	<br>
	<div ng-show="selectedTab === 'chat'">
		<div style="height: 500px; width:100%; border-style: solid; border-width: 1px; overflow: auto">
			<div ng-repeat="message in chat.messages">
				{{message.from.displayName}} - {{message.message}}
			</div>	
		</div>
		<input type="text" style="width: 100%" ng-keydown="chatKeyDown($event)" ng-model="chatMessage">
	</div>

	<div ng-show="selectedTab === 'userInfo'"> 
		<p>{{userInfo.data.name}}</p>
		<p>{{userInfo.data.mail}}</p>
		<p>{{userInfo.data.userid}}</p>
		<p>{{userInfo.data.id}}</p>
		<p>{{userInfo.data.xmpp.jid}}</p>
		<p>{{userInfo.data.xmpp.registered && "XMPP registered" || "XMPP not registered. oh no. panic!"}}</p>
	</div>

	<ul ng-show="selectedTab === 'groups'" > 
		<li ng-repeat="group in auth.groups">
		<a href ng-click="getGroupMembers(group.id); showMembers = !showMembers" ng-init="showMembers = 0">{{group.displayName}}</a>
		<ul ng-show="showMembers">
			<li ng-repeat="member in group.members">
			<a href ng-init="showMemberDetails = 0; memberUserName = member.userid.substring(0, member.userid.indexOf('@'))" ng-click="showMemberDetails = !showMemberDetails">{{member.name}}
				<span ng-show="xmpp.friends.list[memberUserName]"> - {{xmpp.friends.list[memberUserName].online && 'Online' || 'Offline'}} </span></a>
			<ul ng-show="showMemberDetails">
				<li>{{member.mail}}</li>
				<li>{{member.role}}</li>
				<li>{{member.userid}}</li>
			</ul>
			</li>
		</ul>
		</li>
	</ul>
	
	<div ng-show="selectedTab === 'realms'">
		<div ng-repeat="realm in auth.realms">
			<a href ng-click="setRealm(realm.realm)">{{realm.name}} - {{realm.realm}}</a>
		</div>
	</div>
	<div ng-show="selectedTab === 'search'">
		<input type="text" style="width: 100%" ng-model="search.query" /> 
		<div ng-repeat="person in search.list" style="{{generateRandomAnimation()}}" ng-controller="animationController">
			<img ng-show="person.hasImage()" ng-src="{{person.getImage()}}"> {{person.name}} {{person.mail}}
		</div>
	</div>
	<div ng-show="selectedTab === 'webrtc'">
		<input type="file" ba-file-selector file="file"/>
		<div ng-repeat="friend in friends.list">
			{{friend.FN}} - {{friend.online && 'Online' || 'Offline'}} - <a href ng-click="call(friend)"> Call </a>
			<button ng-show="file.file" ng-click="sendFile(friend)">Send file</button>
		</div>
		{{webrtc.message}}
		<br>
		{{webrtc.video}}
		<video autoplay src={{webrtc.video}}></video>
	</div>
</div>
