<div class="row color-grey fill-height" ng-class="border">
	<div class="col-md-12 fill-height">
            
		<div class="fill-top"> 
			<div class="row name-tag">
				<div class="col-md-12">
					<div class="align-center" ng-show="currentChat">
						<!--<div>Conversation with {{getFriendFromId(currentChat.id) && getFriendFromId(currentChat.id).name}}</div>-->
						<div class="btn-group">
							<button type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-earphone"></span> Voice Call
							</button>
							<button ng-disabled="!currentChat" type="button" class="btn btn-primary" ng-click="currentChat && !isInCall() ? (calling() ? cancelCall() : callTo()) : stopCall()">
								<span class="glyphicon glyphicon-facetime-video"></span> {{getVideoControlMsg()}}
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row fill-under-name-tag">
				<div class="col-md-12 fill-height">
					<div class="auto-overflow" ng-auto-scroll ng-class="{'fill-height': !showInfoBar(), 'fill-under-name-tag': showInfoBar()}">
						<div ng-repeat="message in currentChat.messages" ng-hide="message.hidden">
							<div class="uninett-chatbox-entry" ng-class="isSystemMessage(message) ? 'uninett-chatbox-entry-system' : isMyMessage(message) ? 'uninett-chatbox-entry-sent' : 'uninett-chatbox-entry-recv'" >
								<div ng-hide="isMyMessage(message) || isSystemMessage(message)"><b>{{getDisplayName(message)}} says:</b></div>
								<div style="word-wrap: break-word;">{{message.message}}</div>
								<span class="right" ng-class="{'visible': !message.arrived, 'invisible': message.arrived}">
									<i class="fa fa-spinner fa-spin"></i>
								</span>
							</div>
						</div>
						<div ng-show="currentChat && isInCall()">
							<div class="uninett-chatbox-entry uninett-chatbox-entry-video">
								<i class="fa fa-expand video-expand"></i>
								<video ng-dblclick="enterVideoFull()" autoplay="true" ba-auto-update="{{video.remote.src}}" src="{{video.remote.src}}"></video>
							</div>
						</div>
					</div>
					<div ng-show="showInfoBar()" class="align-center uninett-info-bar">
						<div ng-show="hasIncomingCall()">
							<b>{{getFriendFromId(currentChat.id).name}} is trying to call you.</b>
							<div class="btn-group">
								<button type="button" ng-click="acceptCall()" class="btn btn-success">Accept</button>
								<button type="button" ng-click="rejectCall()" class="btn btn-danger">Reject</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="input-group">
			<input ng-disabled="!currentChat" type="text" ng-model="chatMessage" ng-keydown="chatKeyDown($event)" class="form-control fill-width"/>
			<span ng-disabled="!currentChat" class="input-group-addon" ng-click="sendMessage()">Send</span>
		</div>
	</div>
</div>
