<div class="row color-grey fill-height" ng-class="border">
	<div class="col-md-12 fill-height">
            
		<div class="fill-top"> 
			<div class="row name-tag border-bottom uninett-section-header-bar">
				<div class="col-md-12 fill-height">
					<div>
						<div ng-show="currentChat" >
							<div ng-hide="currentChat.isRoom" class="btn-group button-group">
								<button type="button" class="btn btn-default" ng-click="sendFileRequest()">
									<span class="glyphicon glyphicon-file"></span> Send File
								</button>
								<button type="button" class="btn btn-default" ng-click="clickAudioButton()" ng-disabled="isVideoButtonActive()">
									<span class="glyphicon glyphicon-earphone"></span> {{getAudioControlMsg()}}
								</button>
								<button type="button" ng-disabled="isAudioButtonActive()" class="btn" ng-click="clickVideoButton()" ng-class="!isVideoButtonActive() ? 'btn-success' : 'btn-danger'" >
									<span class="glyphicon glyphicon-facetime-video"></span> {{getVideoControlMsg()}}
								</button>
							</div>
							<div ng-show="currentChat.isRoom" class="btn-group button-group">
								<button type="button" class="btn btn-default" ng-click="openFriendSelector()">
									<i class="fa fa-user"></i> Invite 
								</button>
								<button type="button" class="btn btn-default" ng-click="openConference()">
									<i class="fa fa-users"></i> Open conference
								</button>
							</div>
						</div>
						<p ng-show="currentChat && !currentChat.isRoom">
							Conversation <span class="glyphicon glyphicon-chevron-right uninett-glyphicon-sm"></span> {{getFriendFromId(currentChat.id) && getFriendFromId(currentChat.id).name}}
						</p>
						<p ng-show="currentChat.isRoom">
							Conversation <span class="glyphicon glyphicon-chevron-right uninett-glyphicon-sm"></span>
							Group conversation
							<span ng-show="getObjectLength(currentChat.participants)"> 
								with <span ng-repeat="friend in currentChat.participants"> 
								<span ng-hide="isMe(friend.id) || !friend.isOnline()">
									{{friend.name}}{{($index !== getObjectLength(currentChat.participants) - 1) && ", " || ""}}
								</span>
							</span>
						</p>
						<p ng-hide="currentChat">
							Click on a contact to start a new conversation
						</p>
					</div>
				</div>
			</div>
			<div class="row fill-under-name-tag">
				<div class="col-md-12 fill-height auto-overflow" ng-auto-scroll ng-drop-file>
					<div ng-class="{'fill-height': !showInfoBar(), 'fill-under-name-tag': showInfoBar()}">
						
						<!--
						<div ng-show="!currentChat" class="well-lg align-center uninett-info-message">
							<p>Click on a contact to start a new conversation</p>
						</div>
						-->
	  
						<div ng-repeat="message in currentChat.messages">
							<div class="row">
								<div class="col-md-12">
									<div ng-hide="message.hidden">
										<div class="uninett-chatbox-entry" ng-class="isSystemMessage(message) ? 'uninett-chatbox-entry-system' : isMyMessage(message) ? 'uninett-chatbox-entry-sent' : 'uninett-chatbox-entry-recv uninett-chatbox-entry-recv-color' + getColorId(message)">
											<div ng-hide="isMyMessage(message) || isSystemMessage(message)"><b>{{getDisplayName(message)}} says:</b></div>
											<span class="right" ng-class="{'visible': !message.arrived, 'invisible': message.arrived}">
												<i class="fa fa-spinner fa-spin"></i>
											</span>
											<div style="word-wrap: break-word;" class="width-95">{{message.message}}</div>
										</div>
									</div>
									<div ng-show="message.fileId">
										<div class="uninett-chatbox-entry uninett-chatbox-entry-file" ng-class="file.sending ? 'uninett-chatbox-entry-file-send' : 'uninett-chatbox-entry-file-recv'" ng-show="getFile(message.fileId)" ng-init="file = getFile(message.fileId)">
											<div>{{file.sending && "Sending " + file.filename + " to " || "Receiving " + file.filename + " from "}} {{getFriendFromId(file.user).name}}<span class="tab">{{bytesToSize(file.size)}}</span>{{file.failed && " - Failed"}}</div>
											<div class="progress" >
												<div class="progress-bar" ng-class="{'progress-bar-danger': file.failed}" ba-progress-bar progress="file.progress">
												</div>
											</div>
										</div>
										<div class="uninett-chatbox-entry uninett-chatbox-entry-file" ng-class="file.sending ? 'uninett-chatbox-entry-file-send' : 'uninett-chatbox-entry-file-recv'" ng-show="getFileLog(message.fileId)">
											{{getFileLog(message.fileId).failed && failed || getFileLog(message.fileId).filename + (getFileLog(message.fileId).sent && ' was sent to ' || ' was downloaded from ') + getFriendFromId(getFileLog(message.fileId).user).name}}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="currentChat && isInCall()">
							<div class="uninett-chatbox-entry uninett-chatbox-entry-video">
								<video class="pointer" title="Tip: Double click to enter full screen" ng-show="call.getCurrent().video" ng-click="enterVideoFull()" autoplay="true" ba-auto-update="{{video.remote.src}}" src="{{video.remote.src}}"></video>
								<div class="uninett-chatbox-entry-audio align-center uninett-fontColor-white">
									<i ng-hide="call.getCurrent().video" class="fa fa-volume-up fa-5x"></i>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="showInfoBar()" class="align-center uninett-info-bar">
						<div ng-show="hasIncomingCall()">
							<b>{{getFriendFromId(currentChat.id).name}} is trying to call you.</b>
							<div class="btn-group">
								<button type="button" ng-click="acceptCall()" class="btn btn-success">Accept</button>
								<button type="button" ng-click="rejectCall()" class="btn btn-danger">Reject</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="input-group">
			<input ng-disabled="!currentChat" type="text" ng-model="chatMessage" ng-keydown="chatKeyDown($event)" class="form-control fill-width"/>
			<span ng-disabled="!currentChat" class="input-group-addon" ng-click="sendMessage()">Send</span>
		</div>
	</div>
</div>
