<!--
<div class="row" ng-controller="navBarController"> 
	<div class="navbar navbar-default  no-margin" role="navigation">
		<div class="container default-cursor">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand"><img src="bower_components/uninett-bootstrap-theme/uninett-theme/images/UNINETT_logo.svg" alt="Uninett logo" type="image/svg+xml"></div>
			</div>

			<div class="navbar-department">
				<div class="department">Kitten Mittons</div>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{'active': isActive('chat')}" ><a href ng-click="gotoState('chat')">Chat<span class="badge" ng-show="chat.unread != 0" ng-bind="chat.unread"></span></a></li>
					<li ng-class="{'active': isActive('video')}"><a href ng-click="gotoState('video')">Call</a></li>
					<li ng-class="{'active': isActive('file')}"><a href ng-click="gotoState('file')">File<span class="badge" ng-show="file.unseen != 0" ng-bind="file.unseen"></span></a></li>
					<li ng-class="{'active': isActive('conference')}"><a href ng-click="gotoState('conference')">Conference<span class="badge" ng-show="conference.unseen != 0" ng-bind="conference.unseen"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
-->
<div class="row hide-overflow fill-height">
	<div ng-show="showConference()" class="fill-height">
		<div class="conference-menu">
			<i class="pointer fa fa-phone-square uninett-fontColor-red fa-2x tab" ng-click="closeConference()"></i>
		</div>
		<iframe src={{conference.src}} class="fill-height fill-width"></iframe>
	</div>
	<div ng-class="getCol(1)" class="fill-height">
		<div ui-view="view1" class="fill-height" ng-class="{'animate-view': isViewAnimated(1)}"> </div>
	</div>
	<div ng-class="getCol(2)" class="fill-height">
		<div ui-view="view2" class="fill-height" ng-class="{'animate-view': isViewAnimated(2)}"></div>
	</div>
	<div ng-class="getCol(3)" class="fill-height">
		<div ui-view="view3" class="fill-height" ng-class="{'animate-view': isViewAnimated(3)}"></div>
	</div>
</div>

<audio src="resource/telephone.wav" ng-audio ng-bind="playAudio(receivingCall())"></audio>
