<div class="row hide-overflow fill-height">
	<div ng-class="getCol(1)" class="fill-height">
		<div ui-view="view1" class="fill-height"> </div>
	</div>
	<div ng-class="getCol(2)" class="fill-height">
		<div ng-show="showConference()" class="row fill-height">
			<div class="conference-menu">
				<i class="pointer fa fa-phone-square uninett-fontColor-red fa-2x tab" ng-click="closeConference()"></i>
			</div>
			<iframe src={{conference.src}} class="fill-height fill-width"></iframe>
		</div>
		<div ui-view="view2" class="fill-height"></div>
	</div>
	<div ng-class="getCol(3)" class="fill-height">
		<div ui-view="view3" class="fill-height"></div>
	</div>
</div>

<audio src="resource/telephone.wav" ng-audio ng-bind="playAudio(receivingCall())"></audio>
