<div class="row hide-overflow fill-height">
	<div ng-class="getCol(1)" class="fill-height">
		<div ui-view="view1" class="fill-height"> </div>
	</div>
	<div ng-class="getCol(2)" class="fill-height">
		<div ng-show="showConference()" class="row fill-height">
			
			<div class="name-tag border-bottom uninett-section-header-bar" ng-hide="isConferenceFullscreen()" ng-class="border">
				<div class="col-md-12 fill-height">
					<div>
						<p class="uninett-breadcrumbs-ellipsis">
							Conversation <span class="glyphicon glyphicon-chevron-right uninett-glyphicon-sm"></span> Video conference
						</p>
					</div>
					<div class="btn-group button-group" ng-hide="isConferenceFullscreen()">
						<button class="btn btn-info pointer" ng-click="toggleConferenceFullscreen()" ng-disabled="areConferenceButtonsDisabled()">Fullscreen</button>
						<button class="btn btn-danger pointer" ng-click="closeConference()" ng-disabled="areConferenceButtonsDisabled()">Close Conference</button>
					</div>
				</div>
			</div>
			
			<div ng-class="{'fill-height': isConferenceFullscreen(), 'fill-under-name-tag': !isConferenceFullscreen()}">
				<div class="conference-menu">
					<!--<i class="pointer fa fa-phone-square uninett-fontColor-red fa-2x tab" ng-click="closeConference()"></i>-->
					<div ng-show="isConferenceFullscreen()">
						<i class="fa fa-2x pointer tab" ng-class="{'fa-compress': isConferenceFullscreen(), 'fa-expand': !isConferenceFullscreen()}" ng-click="toggleConferenceFullscreen()"></i>
						<i class="pointer fa fa-phone-square uninett-fontColor-red fa-2x tab" ng-click="closeConference()"></i>
					</div>

				</div>
				<iframe src={{conference.src}} class="fill-height fill-width"></iframe>
			</div>
		</div>
		<div ui-view="view2" class="fill-height"></div>
	</div>
	<div ng-class="getCol(3)" class="fill-height">
		<div ui-view="view3" class="fill-height"></div>
	</div>
</div>

<audio src="resource/telephone.wav" ng-audio ng-bind="playAudio(receivingCall())"></audio>
<audio src="resource/notification.wav" ng-audio-notification></audio>
