<div class="row color-grey fill-height" ng-class="border">
	<div class="col-md-12 fill-height">
            
		<div class="fill-top"> 
			<div class="row name-tag border-bottom uninett-section-header-bar">
				<div class="col-md-12 fill-height">
					<div>
						<p>Conference <span class="glyphicon glyphicon-chevron-right uninett-glyphicon-sm"></span> {{conference.current.name}}</p>
					</div>
				</div>
			</div>
			<div class="row fill-under-name-tag">
				
				<div class="uninett-padded">
				
					<div class="pull-right">
						<button class="btn btn-primary">Open Conference</button>
					</div>
					
					<h1>{{conference.current.name}}</h1>

					<p ng-hide="isAdministrator()">You were invited to this conference by {{conference.current.invitedBy}}.</p>
					<p ng-show="isAdministrator()">You are the administrator of this conference.</p>
					
					<h3>Participants</h3>

					<ul class="list-group">
						<li class="list-group-item" ng-repeat="friend in friends.list">
							<span class=""><input type="checkbox" ng-disabled="!isAdministrator()" ng-checked="isInvited(friend)" ng-click="toggleInvite(friend)"></span>
							<span>{{friend.name}}</span>
						</li>
					</ul>
				
				</div>
				
			</div>
		</div>
	</div>
</div>

<!--

<div class="gutter fill-height-minus-gutter">
	<div class="row fill-height">
		<div class="col-md-2">

		</div>

		<div class="col-md-8 fill-height">
			<div class="row">
				<div class="col-md-10">
					<input type="text" ng-model="conferenceName" placeholder="Name your conference"  class="fill-width">
				</div>
				<div class="col-md-2 align-left">
					<button class="btn btn-info width-70" ng-click="create()">Create</button>
				</div>
			</div>
			<br>

			<div ng-repeat="conference in conference.list" >
				<div class="row">
					<div ng-class="{'col-md-7': conference.invitedBy, 'col-md-10': !conference.invitedBy}" class="height-50 hide-overflow">
						{{conference.name}} 
					</div>
					<div ng-show="conference.invitedBy"class="col-md-3 height-50 hide-overflow">
						<div >Invited by: {{getFriendFromId(conference.invitedBy).name}}</div>
					</div>
					<div class="col-md-2 align-left height-50">
						<button ng-click="gotoConference(conference)" class="btn btn-info width-70">Go to</button>
						<button class="btn btn-info width-70" ng-click="toggleInvite(conference.id)" ng-bind="isInviting(conference.id) && 'Close' || 'Invite'"></button>
					</div>
				</div>
				<div ng-show="isInviting(conference.id)" class="border-bottom border-top">
					<div ng-hide="conference.invites.length">
						Click on contacts to invite them
					</div>
					<div ng-show="conference.invites.length">
						Invites sent to:
					</div>
					<div ng-repeat="invitee in conference.invites">
						{{invitee.name}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

-->